PORT=8000
APP_ENV=development

DATABASE_URL="postgresql://neondb_owner:npg_uv72QZhfKBDJ@ep-curly-glade-azvi46k4-pooler.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

JWT_SECRET=change-me

CORS_WHITELIST=http://localhost:3001,http://localhost:3000

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

GOOGLE_SHEETS_SPREADSHEET_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
